<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Project Blog in NodeJS</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<h1>Project Blog in NodeJS</h1>
		<hr/>
		<h2>Menu</h2>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/insertPost" title="Add new post">Add new post</a>
			</li>
		</ul>